<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">

    {{!-- BANNER --}}
    <div style="background-image: url(assets/img/banners/bannerGeneral.png)" class="jumbotron jumbotron-image desktop">
    </div>

    {{!-- SOCIAL --}}
    <div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
        <a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
        <a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
        <a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
    </div>
    <div class="content-wrapper">

        {{!-- TITULO PARTIAL --}}
        <div class="page-header">
            <h3 class="page-title">
                Editar perfil
            </h3>
        </div>

        {{!-- CARD EDITAR DATOS --}}
        <div class="row">
            <div class="col-md-12 col-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center">
                            <h4 class="card-title">Editar datos</h4>
                        </div>
                        <br>

                        {{!-- FORM EDITAR PERFIL --}}
                        <form id="formEditarDatos">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                                    {{!-- SELECT TIPO DE DOCUMENTO --}}
                                    <div class="form-group" id="divSelectTipoDocumento">
                                        <label for="selectTipoDocumentoFormEditar">Tipo de documento</label>
                                        <select class="form-control form-control-sm" data-live-search="true"
                                            id="selectTipoDocumentoFormEditar" name="selectTipoDocumentoFormEditar">
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                    </div>

                                    {{!-- INPUT NÚMERO DE DOCUMENTO --}}
                                    <div class="form-group" id="divInputDocumento">
                                        <label for="inputDocumentoFormEditar">N° documento</label>
                                        <input type="text" class="form-control numero" id="inputDocumentoFormEditar"
                                            placeholder="Número de documento" name="inputDocumentoFormEditar">
                                    </div>

                                    {{!-- INPUT NOMBRES --}}
                                    <div class="form-group" id="divInputNombres">
                                        <label for="inputNombreFormEditar">Nombres</label>
                                        <input type="text" class="form-control textoLetras" id="inputNombreFormEditar"
                                            placeholder="Nombres" name="inputNombreFormEditar">
                                    </div>

                                    {{!-- INPUT APELLIDOS --}}
                                    <div class="form-group" id="divInputApellidos">
                                        <label for="inputApellidoFormEditar">Apellidos</label>
                                        <input type="text" class="form-control textoLetras" id="inputApellidoFormEditar"
                                            placeholder="Apellidos" name="inputApellidoFormEditar">
                                    </div>

                                    {{!-- SELECT MUNICIPIO --}}
                                    <div class="form-group" id="divSelectMunicipio">
                                        <label for="selectMunicipioFormEditar">Municipio</label>
                                        <select class="form-control form-control-sm" data-live-search="true"
                                            id="selectMunicipioFormEditar" name="selectMunicipioFormEditar">
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                                    {{!-- INPUT COLEGIO --}}
                                    <div class="form-group" id="divInputColegio">
                                        <label for="inputColegioFormEditar">Colegio</label>
                                        <input type="text" class="form-control" id="inputColegioFormEditar"
                                            data-live-search="true" placeholder="Colegio" name="inputColegioFormEditar">
                                    </div>

                                    {{!-- SELECT GRADO --}}
                                    <div class="form-group" id="divSelectGrado">
                                        <label for="selectGradoFormEditar">Grado</label>
                                        <select class="form-control form-control-sm" data-live-search="true"
                                            id="selectGradoFormEditar" name="selectGradoFormEditar">
                                            <option selected value="">Seleccione una opción</option>
                                            <option value="9">Noveno</option>
                                            <option value="10">Decimo</option>
                                            <option value="11">Once</option>
                                            <option value="N/A">N/A</option>
                                        </select>
                                    </div>

                                    {{!-- INPUT TELEFONO --}}
                                    <div class="form-group" id="divInputTelefono">
                                        <label for="inputTelefonoFormEditar">Teléfono</label>
                                        <input type="text" class="form-control numero" id="inputTelefonoFormEditar"
                                            placeholder="Telefono" name="inputTelefonoFormEditar">
                                    </div>

                                    {{!-- INPUT EMAIL --}}
                                    <div class="form-group" id="divInputEmail">
                                        <label for="inputEmailFormEditar">Email</label>
                                        <input type="email" class="form-control email" id="inputEmailFormEditar"
                                            placeholder="Correo electrónico" name="inputEmailFormEditar">
                                    </div>

                                    {{!-- ARCHIVO SELECCIONADO --}}
                                    {{!-- <div class="form-group">
                                        <label>Archivo seleccionado</label>
                                        <input type="file" name="inputFotoFormEditar" class="file-upload-default"
                                            id="inputFotoFormEditar" accept="image/x-png,image/gif,image/jpeg">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled=""
                                                placeholder="Upload Image" id="inputTextoArchivoSeleccionado">
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btnInputFile btn-gradient-info"
                                                    type="button">Upload</button>
                                            </span>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </form>

                        {{!-- BOTÓN EDITAR DATOS --}}
                        <div class="row flex-row-reverse">
                            <button type="button" class="btn btn-outline-success btn-fw" id="btnEditarDatos">Editar
                                datos</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- CARD CAMBIAR CONTRASEÑA --}}
            <div class="col-md-12 col-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center">
                            <h4 class="card-title">Cambiar contraseña</h4>
                        </div>
                        <br>

                        {{!-- FORM CAMBIAR CONTRASEÑA --}}
                        <form id="formEditarContrasena">
                            <div class="row">

                                {{!-- INPUT CONTRASEÑA ANTERIOR --}}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="inputContrasenaAnterior">Contraseña anterior</label>
                                        <input type="password" class="form-control" id="inputContrasenaAnterior"
                                            name="inputContrasenaAnterior">
                                    </div>
                                </div>

                                {{!-- INPUT CONTRASEÑA ACTUAL --}}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="inputContrasenaNueva">Contraseña nueva (Entre 8 y 20
                                            caracteres)</label>
                                        <input type="password" class="form-control" id="inputContrasenaNueva"
                                            name="inputContrasenaNueva">
                                    </div>
                                </div>
                            </div>
                        </form>

                        {{!-- BOTÓN CAMBIAR CONTRASEÑA --}}
                        <div class="row flex-row-reverse">
                            <button type="button" class="btn btn-outline-success btn-fw"
                                id="btnCambiarContrasena">Cambiar
                                contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>