{{!-- FILES CSS --}}
<link rel="stylesheet" href="assets/css/buttons.css">
<link rel="stylesheet" href="assets/css/intro.css">

<div class="limiter">
    <div class="container-intro" style="background: url('assets/img/login/wallpaper.png'); background-size: cover;">
        <div class="wrap-intro m-5">

            {{!-- CAJA DE INFORMACIÓN --}}
            <div class="card-intro p-5 w-65">
                <div class="d-flex">
                    <div class="w-100">
                        <h4 class="mb-0 mt-0 text-center card-title">Test de aptitudes e intereses "CHASIDE"</h4>
                        <p class="mt-4 card-text">
                            La siguiente prueba tiene como objetivo indagar en tus propios intereses y aptitudes. Te
                            servirá
                            como herramienta para definir la carrera profesional que sea compatible con tus intereses
                            y/o
                            aptitudes. <br>
                            El test CHASIDE fue desarrollado por el doctor Holland, profesional de las ciencias humanas
                            y
                            sus siglas derivan de las áreas de la educación: C (administrativas y contables); H
                            (humanísticas, ciencias jurídicas y ciencas sociales); A (artísticas); S (ciencias de la
                            salud);
                            I (ingenierías, carreras técnicas y computación); D (defensa y seguridad); E (ciencias
                            agrarias
                            y de la naturaleza). <br>
                            Una vez finalice la prueba se recomienda que explore tranquilamente los resultados. Es de
                            aclarar,
                            que esta prueba no tiene ninguna incidencia en el proceso de admisión a la universidad ni
                            tampoco te
                            compromete a elegir exactamente lo que te diga el test. Recuerda que la decisión la tomas
                            tú...
                            En
                            la Universidad Católica de Pereira estamos para acompañarle en la construcción de <b>tu
                                proyecto
                                de
                                vida.</b>
                        </p>

                        {{!-- BOTÓN CONTINUAR --}}
                        <div class="mt-4 d-flex flex-row justify-content-center">
                            <a id="btnIniciar" href="/loginRoute" class="btn btn-sm btn-intro w-50">CONTINUAR</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- LOGO --}}
            <div class="logo">
                <img src="assets/img/logoUcp/logoVerde.png" alt="Logo Ucp (Verde)">
            </div>
        </div>
    </div>
</div>

{{!-- FILES JS --}}
<script src="/librerias/detect/detect.js"></script>