<link rel="stylesheet" href="assets/css/buttons.css">
<link rel="stylesheet" href="assets/css/carreras.css">
<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">

    {{!-- BANNER --}}
    <div style="background-image: url(assets/img/banners/bannerGeneral.png)" class="jumbotron jumbotron-image desktop">
    </div>

    {{!-- SOCIAL --}}
    <div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
        <a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
        <a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
        <a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
    </div>

    {{!-- TITLE --}}
    <div class="content-wrapper">
        <div class="page-header" style="justify-content: center !important;">
            <h3 class="page-title">
                CARRERAS
            </h3>
        </div>

        {{!-- CONTENT --}}
        <div id="carreras">

        </div>
    </div>
</div>