<link rel="stylesheet" href="assets/css/buttons.css">
<link rel="stylesheet" href="assets/css/carreras.css">
<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">

	{{!-- BANNER --}}
	<div id="bannerCarrera" class="desktop">
	</div>

	{{!-- SOCIAL --}}
	<div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
		<a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
		<a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
		<a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
		<a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
		<a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
	</div>
	<div class="content-wrapper">

		{{!-- CONTENT --}}
		<div class="row">

			{{!-- VIDEO ABOUT CARREER --}}
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div class="videoWrapper">
					<iframe id="videoCarrera" width="560" height="315" src="" allowfullscreen></iframe>
				</div>
				<div class="card-footer" style="background-color: transparent !important; border: none !important;">

					<a id="linkCarrera" href="" target="_blank" class="btn-detalle">VER MAS</a>
				</div>
			</div>

			{{!-- CARDS WITH INFORMATION --}}
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<div id="perfilProfesional">
				</div>

				<div id="perfilOcupacional">
				</div>
			</div>
		</div>
	</div>
</div>