<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">

    {{!-- BANNER --}}
    <div style="background-image: url(assets/img/banners/bannerGeneral.png)" class="jumbotron jumbotron-image desktop">
    </div>

    {{!-- SOCIAL --}}
    <div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
        <a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
        <a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
        <a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
    </div>

    {{!-- TITLE --}}
    <div class="content-wrapper">
        <img src="assets/img/contactenos/contactenosMediano.png" class="card-img-top desktop"
            style="border-radius: 25px;">
        <img src="assets/img/contactenos/contactenosPequeño.png" class="card-img-top mobile"
            style="border-radius: 25px;">
    </div>
</div>