<link rel="stylesheet" href="assets/css/buttons.css">
<link rel="stylesheet" href="assets/css/carreras.css">
<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">
	{{!-- BANNER --}}
	<div style="background-image: url(assets/img/banners/bannerGeneral.png)" class="jumbotron jumbotron-image desktop">
	</div>

	{{!-- SOCIAL --}}
	<div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
		<a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
		<a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
		<a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
		<a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
		<a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
	</div>

	{{!-- TITLE --}}
	<div class="content-wrapper">
		<div class="page-header" style="justify-content: center !important;">
			<h3 class="page-title">
				FACULTADES
			</h3>
		</div>

		{{!-- CONTENT --}}
		<div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
				<div class="card">
					<img src="assets/img/facultades/facultadArquitectura.jpeg" class="card-img-top">
					<div class="card-footer">
						<button class="btn-detalle btnVerCarreras" data-id="1">VER CARRERAS</button>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
				<div class="card">
					<img src="assets/img/facultades/facultadEconomicas.jpeg" class="card-img-top">
					<div class="card-footer">
						<button class="btn-detalle btnVerCarreras" data-id="3">VER CARRERAS</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
				<div class="card">
					<img src="assets/img/facultades/facultadEducacion.jpeg" class="card-img-top">
					<div class="card-footer">
						<button class="btn-detalle btnVerCarreras" data-id="2">VER CARRERAS</button>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
				<div class="card">
					<img src="assets/img/facultades/facultadIngenieria.jpeg" class="card-img-top">
					<div class="card-footer">
						<button class="btn-detalle btnVerCarreras" data-id="4">VER CARRERAS</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>