<link rel="stylesheet" href="assets/css/buttons.css">
<link rel="stylesheet" href="assets/css/carreras.css">
<link rel="stylesheet" href="assets/css/contactenos.css">
<link rel="stylesheet" href="assets/css/iconSocial.css">

<div class="main-panel">

    {{!-- BANNER --}}
    <div style="background-image: url(assets/img/banners/bannerGeneral.png)" class="jumbotron jumbotron-image desktop">
    </div>

    {{!-- SOCIAL --}}
    <div class="d-flex flex-row-reverse bd-highlight" style=" background: #ebedf2;">
        <a href="https://twitter.com/UCatolicaPei" class="colorSocial"></a>
        <a href="https://www.instagram.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://www.linkedin.com/school/ucatolicadepereira" class="colorSocial"></a>
        <a href="https://www.facebook.com/ucatolicadepereira/" class="colorSocial"></a>
        <a href="https://api.whatsapp.com/send?phone=573013877446" class="colorSocial"></a>
    </div>

    {{!-- TITLE --}}
    <div class="content-wrapper">
        <div class="page-header" style="justify-content: center !important;">
            <h3 class="page-title">
                DETALLES
            </h3>
        </div><br>

        {{!-- CONTENT --}}
        <div class="row">
            <div class="col-md-12 col-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="card" style="border: none !important;">
                            <div class="row g-0">
                                <div class="col-md-6" style="padding-right: 0% !important;">
                                    <img src="assets/img/facultades/facultadEconomicas.jpeg" class="img-fluid rounded"
                                        alt="...">
                                </div>
                                <div class="col-md-6" style="padding-left: 0% !important;">
                                    <div class="card-body card-detail">
                                        <p class="card-text">
                                            Tus intereses están relacionados con carreras que impliquen: asistir,
                                            investigar, habilidades de precisión, senso-perceptivo, analítico y de
                                            ayuda. Tus aptitudes más sobresalientes son: altruista, solidario, paciente,
                                            comprensivo, respetuoso, persuasivo.
                                            <br>
                                            Podría pensar en carreras como: <b>medicina, odontología, fisioterapia,
                                                enfermería, ciencias del deporte y la recreación, entre otras.</b>
                                        </p>
                                        <div class="card-footer"
                                            style="background-color: #fff !important; border: none !important;">
                                            <button class="btn-detalle btnVerCarreras">VER CARRERAS EN LA
                                                CATÓLICA</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>