/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
[ CONTAINER INTRO ]*/

.container-intro {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    background: -webkit-linear-gradient(-135deg, white, #88c42f);
    background: -o-linear-gradient(-135deg, white, #88c42f);
    background: -moz-linear-gradient(-135deg, white, #88c42f);
    background: linear-gradient(-135deg, white, #88c42f);
}

.wrap-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
[ IMAGE ]*/

.logo img {
    width: 17.4vw;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
[ CARD ]*/

.card-title {
    font-size: 2vw;
    color: #d83135;
}

.card-text {
    color: #000;
    text-align: center;
    font-size: 1vw;
}

.card-intro {
    position: relative;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid #ffd500;
    border-radius: 40px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
[ EDITS OF BOOTSTRAP ]*/
.w-65 {
    width: 60% !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
[ RESPONSIVE ]*/

@media (max-width: 992px) {
    .w-65 {
        width: 70% !important;
    }

    .card-title {
        font-size: 30px;
    }
}

@media (max-width: 870px) {
    .w-65 {
        width: 100% !important;
    }

    .m-5 {
        margin: 3rem 2rem !important;
    }

    .p-5 {
        padding: 1.5rem 2rem !important;
    }

    .logo {
        display: none;
    }
}

@media (max-width: 576px) {
    html,
    body {
        overflow: visible;
    }

    .w-65 {
        width: 100% !important;
    }

    .m-5 {
        margin: 1.5rem 1rem !important;
    }

    .p-5 {
        padding: 1.5rem !important;
    }

    .container-intro {
        padding: 0px;
    }
    .card-text {
        text-align: justify;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 15px;
    }
}
